html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

img {
     width: 100%;
     height: auto;
    object-fit: cover;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    text-decoration: none;
}


/* btn */

.btn__prev,
.btn__next {
    position: relative;
    border: none;
    border-radius: 5px;
    padding: 0;
    width: 38px;
    height: 38px;
    background-color: #2a2a2a;
    opacity: 0.8;
    cursor: pointer;
    outline: none;
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    transition: .3s;
}

.btn__prev {
    top: -48px;
    left: 10px;
}

.btn__next {
    float: right;
    top: -48px;
    right: 10px;
}

.btn__prev:after,
.btn__prev:before {
    content: "";
    position: absolute;
    display: block;
    width: 20px;
    height: 5px;
    background-color: #fff;
}

.btn__prev:after {
    top: 10px;
    left: 9px;
    transform: rotate(-45deg);
}

.btn__prev:before {
    bottom: 12px;
    left: 9px;
    transform: rotate(45deg);
}

.btn__next:after,
.btn__next:before {
    content: "";
    position: absolute;
    display: block;
    width: 20px;
    height: 5px;
    background-color: #fff;
}

.btn__next:after {
    top: 10px;
    left: 9px;
    transform: rotate(45deg);
}

.btn__next:before {
    bottom: 12px;
    left: 9px;
    transform: rotate(-45deg);
}

.btn__prev:hover,
.btn__next:hover {
    opacity: 1;
    box-shadow: 0 15px 20px rgba(0,0,0,.1);
    color: white;
    transform: translateY(-3px);
}

.btn__prev:active:after,
.btn__prev:active:before,
.btn__next:active:after,
.btn__next:active:before {
    background-color: #b3ffff;
}

.btn__cart {
    float: right;
    padding: 6px;
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
    background-color: #3a3a3a;
}

.product__item:hover .btn__cart {
    background-color: #eb5c3e;
}

/* slider */

.slider-wrap {
    position: relative;
    margin: 50px auto;
    width: 478px;
    height: 215px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.slider {
    position: relative;
    width: 478px;
    height: 215px;
}

.slider__item {
    width: 478px;
    height: 215px;
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    display: block;
}

.slider__slide {
    width: 478px;
    height: 215px;
}

.pagination {
    text-align: center;
    font-size: 30px;
}

/* products */

.product__wrap {
    max-width: 480px;
    margin: 50px auto;
}

.product__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product__item {
    position: relative;
    margin-bottom: 29px;
    max-width: 160px;
    width: 100%;
    background-color: #fff;
}

.product__item-content {
    padding: 10px 8px;
    border: 2px solid transparent;
}

.product__item:hover .product__item-content {
    display: block;
    position: absolute;
    z-index: 100;
    background-color: #fff;
    border: 2px solid #eb5c3e;
    box-shadow: 0 5px 15px #000000;
}

.product__wrap-img {
    width: 135px;
    height: 135px;
    margin-bottom: 10px;
}

.product__title {
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    color: black;
    margin-bottom: 30px;
    height: 48px;
    overflow: hidden;
}

.product__price {
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
}

.product__price-doll {
    font-size: 18px;
}

.product__rating {
    margin-top: 15px;
    position: relative;
}

.product__rating:before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #f0f0f0;
}

.product__text-wrap {
    display: none;
}

.product__item:hover .product__text-wrap {
    display: block;
}

.product__text {
    font-size: 11px;
    line-height: 14px;
    color: #636363;
    padding: 10px 8px;
}

.product__star-wrap {
    position: absolute;
    top: 6px;
    right: 50%;
    transform: translateX(50%);
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fff;
}

.product__star {
    height: 11px;
    background: url("img/star-black.png") repeat left;
}

.product__star--one {
    width: 12px;
}

.product__star--two {
    width: 24px;
}

.product__star--three {
    width: 36px;
}

.product__star--four {
    width: 48px;
}

.product__star--five {
    width: 60px;
}

.product__item:hover .product__star--one,
.product__item:hover .product__star--two,
.product__item:hover .product__star--three,
.product__item:hover .product__star--four,
.product__item:hover .product__star--five {
    background: url("img/star-orange.png") repeat left;
}

/* media */
