html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

img {
     width: 100%;
     height: auto;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.slider-wrap {
    position: relative;
    margin: 50px auto;
    width: 478px;
    height: 215px;
}

.slider {
    position: relative;
    width: 478px;
    height: 215px;
    overflow: hidden;
}

.slider img {
    width: 478px;
    height: 215px;
    position: absolute;
    opacity: 1;
    transition: all ease 1s;
}

.btn__prev,
.btn__next {
    position: relative;
    border: none;
    border-radius: 5px;
    padding: 0;
    width: 38px;
    height: 38px;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    transition: .3s;
}

.btn__prev {
    top: -48px;
    left: 10px;
}

.btn__next {
    float: right;
    top: -48px;
    right: 10px;
}

.btn__prev:after,
.btn__prev:before {
    content: "";
    position: absolute;
    display: block;
    width: 20px;
    height: 5px;
    background-color: #fff;
}

.btn__prev:after {
    top: 10px;
    left: 9px;
    transform: rotate(-45deg);
}

.btn__prev:before {
    bottom: 12px;
    left: 9px;
    transform: rotate(45deg);
}

.btn__next:after,
.btn__next:before {
    content: "";
    position: absolute;
    display: block;
    width: 20px;
    height: 5px;
    background-color: #fff;
}

.btn__next:after {
    top: 10px;
    left: 9px;
    transform: rotate(45deg);
}

.btn__next:before {
    bottom: 12px;
    left: 9px;
    transform: rotate(-45deg);
}

.btn__prev:hover,
.btn__next:hover {
    box-shadow: 0 15px 20px rgba(0,0,0,.1);
    color: white;
    transform: translateY(-3px);
}

.btn__prev:active:after,
.btn__prev:active:before,
.btn__next:active:after,
.btn__next:active:before {
    background-color: #b3ffff;
}

